#include <windows.h>
1001 DIALOGEX 0, 0, 186, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
begin
LTEXT "", 102, 0, 50, 180, 24
EDITTEXT 101, 106, 11, 62, 12, ES_AUTOHSCROLL
DEFPUSHBUTTON "OK",IDOK,41,30,109,14
PUSHBUTTON "Cancel", IDCANCEL, 155,30,109,14
end
